body {
    padding: 0;
    margin: 0;
   overflow-x:hidden ;
    box-sizing: border-box;
    background-color: #2a2a2a;
    
  }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins&display=swap');




.res-body {
  position: fixed;
  height: 100vh;
  width: 45px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;

}
.image-nav{
  width: 30px;
  
}
.dashboard-txt {
  color: white;
  font-size: 25px;
  display: flex;
  
}
nav{
  display: flex;
}
.circular-bar-accounts{
display: flex;
flex-direction: column;
}
.res-summary { 
  height: 180vh;
  background-color: #0a0a0a;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.arr-wrap{
  width: 35px;
  height: 35px;
  border-radius: 70px;
  background-color: black;
  left: 30px;
}
.right-arr {
  width: 15px;
  background-color: black;
  cursor: pointer;
}

.user {
  height: 30px;
  padding: 14px;
  border-radius: 50%;
  border: 1.5px solid #8c8c8c;
  width: auto;
  margin: 0;
}

.analyst-cont {
  height: 40vh;
  width: 100%;
  margin-top: 2%;
  display: flex;
}



.card {
  height: 40vh;
  flex-direction: column;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  width: 100%;
  background-image: linear-gradient(#0abc5a,rgba(15, 15, 15, 0.932));
  display: flex;
  margin: 7px;
  padding: 25px;
  padding-left: 40px;
  border: none;
}

.gcard {
  height: 40vh;
  width: 100%;
  margin-top: 4%;
  display: flex;
}

.borrow-txt {

  font-size: 20px;
  font-family: 'helvetica', sans-serif;
  color: #0a0a0a;
}

.graphs {
  height: 30vh;
  flex-direction: column;
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  width: 100%;
  background-color: #7edfa3f6;
  display: flex;
  margin: 20px 10px 10px 10px;
  padding: 25px;
  padding-left: 50px;
}

.right-arrow{
  height: 18px;
  width: auto;
  background-color: #32ff7e;
  padding: 17px;
  border-radius: 50%;
}

.right-arrow-lender{
  height: 18px;
  width: auto;
  background-color: #00ff5e;
  padding: 17px;
  border-radius: 50%;
}

.dashboard-img {
  height: 40px;
  width: auto;
  padding-right:"40px"
}


.heading {
  color: black;
  /* display:"flex";
  flex-direction: column;
  align-items:"center"; */

}

.collateral {
  padding-top: 10px;
  font-size: 18px;
}

.eth-lend {
  height: 35px;

}

input[type="text"] {
  background: transparent;
  width: 200px;
  border: none;
  font-size: 18px;
  font-family: 'helvetica', sans-serif;
  letter-spacing: 0.3px;
  margin-left: 30px;
  border-bottom: 1.5px solid black;
}

input[type="text"]:focus {
  background: transparent;
  border: none;
  font-family: 'helvetica', sans-serif;
  margin-left: 30px;
  outline: none;
  border-bottom: 1.5px solid #ff3838;
}

.spann {
  margin: -19% 0 0 80%;
  color: darkgreen;
  font-size: 20px;
  font-family: 'helvetica', sans-serif;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 25px;
}

.the-button {
  color: black;
  text-decoration: none;
  font-family: 'aeonik', sans-serif;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 50px;
  

}



.the-button-2 {

  color: black;
  text-decoration: none;
  font-family: 'aeonik', sans-serif;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
}
.meter{
  display: flex;
 
  align-items: start;
  justify-self: start;
}

.slider {
  width: 100%;
  margin-top: 0;
  
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 50%;
  height: 10px;
  background-color: #8c8c8c;
  
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
 height: 20px;
  background-color: #00ff5e;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #00ff5e;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #00ff5e;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #00ff5e;
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
 
  padding: 10px 0px;
  width: 100%;
  color: #579E81;
}
#rangevalue span{
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;   
  padding: 10px 0px;
  width: 80%;
  color: #579E81;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1b2f27;
}

::-webkit-scrollbar-thumb {
  background: #3da050;
}


::-webkit-scrollbar-thumb:hover {
  background: #579E81;
}